.text-uppercase{
    text-transform: uppercase;
}
// letter spacing
.letter-spacing-3{
    letter-spacing: 3px;
}
.letter-spacing-5{
    letter-spacing: 5px;
}

// line-height
.line-height-1point5{
    line-height: 1.5;
}

// alignment
.text-center{
 text-align: center;
}

.align-items-center{
    align-items: center;
}

// btn
.btn-star, .btn-rating{
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 55px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    background-color: $img-color;
    color: $text-color;
    text-align: center;
}

// display

.hidden{
    display: none;
}

/*Margin*/
.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}

.my-3{
    margin: 2rem 0;
}

.my-4{
    margin: 3rem 0;
}

.my-5{
    margin: 4rem 0;
}

.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.5rem;
}

.m-3{
    margin: 2rem;
}

.m-4{
    margin: 3rem;
}

.m-5{
    margin: 4rem;
}

/*Padding*/
.pt-1{
    padding-top: 1rem;
}

.pt-2{
    padding-top: 1.5rem;
}

.pt-3{
    padding-top: 2rem;
}

.pt-4{
    padding-top: 3rem;
}

.pt-5{
    padding-top: 4rem;
}

.py-1{
    padding: 1rem 0;
}

.py-2{
    padding: 1.5rem 0;
}

.py-3{
    padding: 2rem 0;
}

.py-4{
    padding: 3rem 0;
}

.py-5{
    padding: 4rem 0;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 1.5rem;
}

.p-3{
    padding: 2rem;
}

.p-4{
    padding: 3rem;
}

.p-5{
    padding: 4rem;
}

